* {
  user-select: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root,
body,
html {
  background-color: rgb(32, 38, 53);
  height: 100vh;
  width: 100vw;
}

// HOMEPAGE
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  #backdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(55%) blur(1.6px);
    z-index: -1;
  }

  #logo {
    width: 70px;
    margin: 2% 0 0 0;
    box-shadow: 1px 1px 1.3px 1.3px gray;
  }

  div {
    position: absolute;
    bottom: 34%;
    left: 7%;
    color: white;
    height: 25%;
    h3 {
      z-index: 1;
      font-size: 42px;
      letter-spacing: 1px;
      font-family: "Times New Roman", Times, serif;
      &:nth-of-type(2) {
        margin-bottom: 30px;
      }
    }
    button {
      font-size: 23px;
      background: transparent;
      border: none;
      color: white;
      font-family: "Montserrat";
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        border-bottom: 2.5px solid rgb(255, 240, 104);
        padding-bottom: 7px;
        color: rgb(255, 240, 104);
      }
    }
  }
}

//NAVABR

nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  background-color: rgb(24, 26, 31);
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;

  .logo,
  .header-links {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .logo {
    width: 68%;
    padding-left: 3%;
    img {
      height: 52%;
      width: auto;
      margin-right: 2%;
    }
    h1 {
      font-size: 20px;
      font-family: "Montserrat";
      color: white;
    }
  }

  .header-links {
    width: 32%;
    justify-content: space-around;
    li {
      list-style: none;
      color: white;
      font-size: 17px;
      font-family: "Montserrat";
      &:hover {
        transform: scale(1.05);
        color: rgb(255, 240, 104);
      }
    }

    #time-contain {
      width: 210px;
      color: white;
      font-family: "Montserrat";
      font-size: 15px;
    }
  }
}

// NEWS PAGE
.news {
  width: 100vw;
  height: 100vh;
  background-color: rgb(32, 38, 53);

  #buffer {
    height: 10vh;
    width: 100vw;
  }

  .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;

    h1 {
      text-align: center;
      color: white;
      font-family: "Times New Roman", Times, serif;
      font-size: 70px;
      letter-spacing: 2px;
    }

    form {
      width: 20%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      input {
        height: 30px;
        width: 50%;
        background-color: transparent;
        border: none;
        padding-left: 8px;
        font-size: 16px;
        color: white;
        transition: 0.25s;
        &:focus {
          border: yellow 1px solid;
          width: 70%;
        }
        &::-webkit-input-placeholder {
          color: white;
        }
      }

      button {
        background-color: transparent;
        border: none;
        ion-icon {
          font-size: 26px;
          color: white;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .topics {
    width: 85vw;
    margin: 0 auto;
    color: white;
    ul {
      display: flex;
      justify-content: space-around;
      li {
        display: inline-block;
        font-size: 16px;
        font-family: "Montserrat";
        &:hover {
          color: rgb(255, 240, 104);
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }
  }

  // LARGE JUMBOTRON NEWS
  .jumbotron {
    display: flex;
    background-color: #1f2024;
    color: white;
    width: 90vw;
    margin: 20px auto;
    transition: 0.2s;
    height: 60%;
    &:hover {
      cursor: pointer;
      transform: scale(1.01);
    }

    img {
      object-fit: cover;
      object-position: center;
      min-width: 47vw;
      height: 100%;
    }

    .jumbotron-content {
      display: flex;
      flex-direction: column;
      font-family: "Montserrat";
      small {
        width: 80%;
        font-size: 17px;
      }
      h1 {
        font-size: 55px;
        font-family: "Times New Roman", Times, serif;
        line-height: 55px;
        width: 97%;
        margin: 3% 0 6% 0;
      }
      p {
        color: #d49677;
        margin-top: 3%;
      }
    }
  }

  // SECONDARY NEWS ARTICLES
  .secondary-one,
  .secondary-two {
    display: flex;
    height: 50%;
    width: 95vw;
    margin: 0 auto;
    background-color: rgb(32, 38, 53);
    overflow-x: scroll;
    scroll-snap-type: inline mandatory;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }

    .article {
      display: flex;
      flex-direction: column;
      height: 85%;
      width: 250px;
      margin: 3% 35px;
      color: white;
      scroll-snap-align: center;
      font-family: "Montserrat";
      border-top: 1.5px solid rgb(255, 240, 104);
      padding-top: 7%;
      text-overflow: ellipsis;

      &:hover {
        border-top: 2px solid #d49677;
      }

      .secondary-pic {
        width: 100%;
        height: 40%;
        object-fit: cover;
      }

      p {
        color: #d49677;
        margin: 2% 0;
        font-size: 14px;
      }

      h1 {
        font-size: smaller;
        font-weight: bolder;
        text-align: left;
        margin-bottom: 10px;
        font-family: "Times New Roman", Times, serif;
        font-size: 17px;
      }
      small {
        font-size: smaller;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }

  .secondary-two {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    transform: translateX(-1.5%);

    a {
      width: 39%;
      margin: 1% 35px;

      .article {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 2%;
        &:hover {
          transform: scale(1.06);
          border-top: 2px solid #d49677;
        }
        .secondary-pic {
          width: 100%;
          height: 160px;
          object-fit: contain;
        }

        .article-content {
          width: 55%;
        }
      }
    }
  }
}

// MARKET DATA
.market-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  #buffer {
    height: 10vh;
    width: 100vw;
  }

  // DATA HEADERS
  .market-headers {
    display: flex;
    background-color: rgb(32, 38, 53);
    height: 17vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-size: 18.5px;
    font-family: "Baloo Chettan 2", cursive;

    .base-filters {
      align-self: flex-start;
      display: flex;
      align-items: center;
      width: 12%;
      justify-content: space-between;
    }

    select {
      background-color: transparent;
      border: none;
      color: rgb(255, 240, 104);
      font-size: 13px;
    }

    header {
      display: flex;
      align-items: center;
      width: 97vw;

      div {
        width: 11.5vw;
        &:nth-of-type(1) {
          text-align: start;
          display: block;
          width: 9vw;
        }
        &:nth-of-type(3),
        &:nth-of-type(5),
        &:nth-of-type(6) {
          text-align: end;
          display: block;
          width: 16.5vw;
        }
        &:nth-of-type(4),
        &:nth-of-type(7) {
          text-align: end;
          display: block;
          width: 12.5vw;
        }
      }
    }
  }

  // DATA TABLE
  .table {
    width: 98vw;
    background-color: rgb(32, 38, 53);
    color: white;
    overflow-y: scroll;
    height: 75vh;
    &::-webkit-scrollbar {
      display: none;
    }

    .data-rows {
      display: flex;
      align-items: center;
      width: 100vw;
      height: 73px;
      border-bottom: 1px rgba(128, 128, 128, 0.55) solid;
      &:hover {
        cursor: pointer;
        transform: scale(1.03);
        border-bottom: 1px rgb(255, 240, 104) solid;
      }

      div {
        display: flex;
        align-items: center;
        width: 11vw;

        img {
          width: 20px;
          vertical-align: middle;
          margin-right: 20px;
        }

        &:nth-of-type(1) {
          text-align: center;
          display: block;
          width: 10vw;
        }
        &:nth-of-type(3),
        &:nth-of-type(5),
        &:nth-of-type(6) {
          text-align: end;
          display: block;
          width: 17vw;
        }
        &:nth-of-type(4),
        &:nth-of-type(7) {
          text-align: end;
          display: block;
          width: 11.5vw;
        }
      }
    }
  }

  // MODAL CONTENT
  .modal-content {
    width: 58vw;
    background-color: #121722;
    padding: 20px 50px;
    color: white;
    font-family: "Baloo Chettan 2", cursive;

    h1,
    h3 {
      text-decoration: underline;
      font-size: 21px;
      letter-spacing: 1px;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    article {
      margin: 30px 0;
    }

    .description {
      letter-spacing: 0.5px;
      line-height: 23px;
      font-family: "Baloo Chettan 2", cursive;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      font-size: 17px;
      a {
        color: rgb(255, 240, 104);
      }
    }
  }

  .modal-background {
    backdrop-filter: blur(2.2px) brightness(85%);
  }

  .modal-close {
    position: absolute;
    right: 20%;
  }
}
